<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <!--link rel="apple-touch-icon" href="apple-touch-icon.png"-->

		<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />

		<!-- HEAD -->

	</head>
	<body>
		<header>
			<a href="/" class="SLAP-link">
				<h1>The Jungle</h1>
			</a>
			<nav class="SLAP-menu">
				<a href="/about" title="about"><span class="screen-reader">About</span></a>
				<a href="/contact" title="contact"><span class="screen-reader">Contact</span></a>
			</nav>
		</header>
		<div id="content-wrapper">
			<!-- CONTENT -->
		</div>


		<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<!--script type="text/javascript" src="js/your-site.js"></script-->
		<script type="text/javascript" src="js/lib/SLAP-.js"></script>
		<script type="text/javascript">
		// $(document).ready(function(){
		// 	//<!-- JQDOCREADY -->
		// });
		</script>

		<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
		<script>
	        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
	        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
	    </script>
	    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
	</body>
</html>
